# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
packages/
.nuget/

# Test results
TestResults/

# Publish output
publish/

# Azure
*.PublishSettings

# Resharper
_ReSharper*/
*.DotSettings.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Environment files
.env
appsettings.json

# IIS Express
/.vs/config/